.vsc-initialized{background-color: #111 !important;}
*{box-sizing: border-box;margin: 0;padding: 0;}
html{background-color: #111;}
.e404{position: relative;width: 100vw;height:100vh;padding: 10%;}
.e404 img{max-width: 80vw;max-height: 100vh;width: auto;height: auto;position: absolute;left: 50%;top: 50%;transform: scale(.9) translate(-50%,-50%);background-color: transparent;}
h1{display: none !important;}

.content{position: fixed;width: 80%;left: 10%;top:10%;z-index: 2; color: white;font-style: italic;}
.content a{text-decoration: none;font-weight: bolder;color: lime;}