*{margin: 0;padding: 0;outline: 0;box-sizing:border-box;
    &::-webkit-scrollbar{width: 0px !important}}
html{
    background-color: #000;
}
img{max-height: 100%;max-width: 100%;}



@media screen and ( max-width: 900px ){
    .hide-on-900{
        display: none;
    }
    .show-on-900{
        display: block;
    }
}

@media screen and ( min-width: 900px ){
    .hide-on-900{
        display: block;
    }
    .show-on-900{
        display: none;
    }
}