@include media("<=tablet")
    section
        flex-direction: column
        padding: 10px
    .menu
        min-width: 400px
        li
            background-color: rgba(30,30,30,.6)
    .icons-perfil
        i
            font-size: 1rem
    .secPerfil
        grid-template-columns: 1fr
        margin: 15px
        gap: 50px
    .bottomCenter
        bottom: 70px !important
    .route-wrapper
        height: calc(100% - 100px) !important
