%u-relative {
  position: relative;
}
%u-absolute {
  position: absolute;
}
%u-text-center {
  text-align: center;
}
%u-text-justify {
  text-align: justify;
}
%u-italic {
  font-style: italic;
}
%u-full-w {
  width: 100%;
}
%u-b50-background{
  background-color: rgba(0,0,0,.5)
}
